header {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 74px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 20rem;
    align-items: center;
    box-sizing: border-box;
}
