.hero {
    display: grid;
    align-items: center;
    min-height: 70vh;
    grid-template-columns: 1fr 1fr;
    box-sizing: content-box;
}

.about {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

.info {
    width: 100%;
    font-weight: 300;
}

.info p {
    font-size: 27px;
}

.indent {
    padding-bottom: 50px;
}

.info h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}