$displayed-as: flex;
$main-color: #ccc;
$positioned-in: center;

.footer-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 100%;
        text-align: $positioned-in;
    }
}

.contacts {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 220px));
    gap: 100px;
    padding: 1rem 13rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1 fr);
        padding: 1rem 3rem;
        gap: 2rem;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 1rem 1rem;
        gap: 1rem;
    }
}

.contact-block {
    font-size: 17px;
    display: $displayed-as;
    flex-direction: column;
    align-items:start;
    padding-top: 1rem;

    h4 {
        color: $main-color;
        padding-bottom: 1rem;
        font-weight: 300;
    }

    a {
        font-weight: 600;
        color: white;
    }

    @media (max-width: 768px) {
        align-items: $positioned-in;
        text-align: $positioned-in;
    }
}

.under {
    display: $displayed-as;
    align-items: $positioned-in;
    justify-content: space-around;
    padding-top: 2rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        align-items: $positioned-in;
    }
}

.quote {
    color: $main-color;
    font: {
        size: 20px;
        weight: 600;
    }
    @media (max-width: 768px) {
        color: #007EBB;
        font-weight: 900;
        font-size: 18px;
        text-align: $positioned-in;
    }
}

.social-media {  
    display: $displayed-as;
    justify-content: space-between; 
    width: 100px;
    @media (max-width: 768px) {
        width: 80px;
        gap: 15px;
    }
}

.copyright {
    align-items: $positioned-in;
    display: $displayed-as;
    color: $main-color;
    @media (max-width: 768px) {
        justify-content: $positioned-in;
        text-align: $positioned-in;
    }
}