.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
}

.big-text {
    font: {
        size: 48px;
        weight: bold;
    }
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.underline {
    background-color: white;
    width: 100px;
    height: 6px;
    border-radius: 9px;
}

.content-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    padding: 4rem;
    max-width: 600px;
    border-radius: 20px;
    justify-content: center;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        margin-top: 30px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.control {
    outline: 0;
    font-weight: 300;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.control-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
    font-weight: 300;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 5px;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.error-appear {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.send-button {
    background-color: #FCB330;
    color: white;
    border-radius: 10px;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 23px;
    font-weight: 300;
    font-size: 23px;
    width: 100%;
    transition: 0.3s ease-in-out;
    width: auto;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &:disabled {
        cursor: not-allowed;
    }

    @media (max-width: 768px) {
        width: 100%;
        font-size: 20px;
        padding: 0.8rem;
        margin-top: 2rem;
    }
}
