$placing-in: center;
$displaying-as: flex;

.weather-widget {
    display: $displaying-as;
    justify-content: $placing-in;
    padding: 4rem 1rem 2rem;
    min-height: 50vh;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding: 2rem 1rem 1rem;
    }
}

.widget-container {
    display: $displaying-as;
    align-items: $placing-in;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3rem;
    justify-content: space-between;
    width: 60%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.1 );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
        width: 90%;
        padding: 2rem;
    }
}

.location {
    display: $displaying-as;
    justify-content: $placing-in;
    margin-bottom: 1rem;
    p {
        padding-left: 0.5rem;
    }

    @media (max-width: 768px) {
        padding-left: 0;
        font-size: 1rem;
    }
}

.description-weather {
    padding-top: 2rem;
    text-align: center;

    p {
        max-width: 100%;
        font-size: 1.8rem;
    }
    
    @media (max-width: 768px) {
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

.bottom-content {
    padding: 1rem;
    display: $displaying-as;
    justify-content: space-evenly;
    width: 80%;
    align-items: $placing-in;
    margin: 2rem auto 0;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        flex-direction: column;
        width: 95%;
        gap: 0.5rem;
    }
}

.wind {
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.bold {
    font-weight: bold;
}

.search {
    width: 235px;
    display: $displaying-as;
    align-items: $placing-in;
    justify-content: space-between;
    padding-bottom: 1rem;
    @media (max-width: 768px) {
        flex-direction: column;
        width: 90%;
        gap: 0.5rem;
    }
}

.location-control {
    outline: none;
    padding: 0.7rem;
    border-radius: 12px;
    border: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.search-btn {
    margin-left: 5px;
    background-color: #BAE2F1;
    border-radius: 5px;
    border: none;
    padding: 1px 1px;
    transition: 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

::placeholder {
    color: #ccc;
}
