.weather-widget {
    display: flex;
    /* margin-top: 150px; */
    min-height: 50vh;
    justify-content: center;
}

.widget-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 50px;
    justify-content: space-between;
    width: 60%;
    max-width: 60%;
    height: auto;
    background: rgba(255, 255, 255, 0.1 );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.location {
    display: flex;
    justify-content: center;
}

.location p {
    padding-left: 10px;
}

.widget-container p {
    font-size: 1.6rem;
}

.widget-container h1 {
    padding-top: 15px;
    font-size: 2.5rem;
}

.description-weather {
    padding-top: 30px;
    padding-left: 30rem;
}

.bottom-content {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    margin: 1rem auto;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.1);
}

.wind {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.search {
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-control {
    outline: 0;
    padding: 0.7rem;
    border-radius: 12px;
    border: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

::placeholder {
    color: #ccc;
}

.search-btn {
    background-color: #BAE2F1;
    border-radius: 5px;
    border: none;
    transition: 0.3s ease-in-out;
}

.search-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.search-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}