.nav-style {
    display: flex;
    gap: 32px;
    font-size: 16px;
}

.nav-style a {
    color: white;
    transition: 0.3s ease-in-out;
}

.nav-style a:hover {
    opacity: 0.3;
}

a {
    display: inline-flex;
}

a img {
    width: 74px;
    height: 74px;
    transition: 0.3s ease-in-out;
}

a img:hover {
    opacity: 0.7;
}

