* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #FCB330;
    color: white;
}

.about-menu {
    background-color: transparent;
    color: white;
}