.accordion-content {
    width: 60%;
    max-width: 60%;
}

.accordion .ant-collapse-item {
    background-color: rgba(0, 0, 0, 0.04);
}

.accordion .ant-collapse-content {
    color: white;
    font-size: 20px;
    padding: 1.5rem 1.5rem;
}

.accordion .ant-collapse-header-text {
    color: white;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 10px;
}

.accordion .ant-collapse-expand-icon {
    color: white;
}

.accordion .ant-collapse-item-active .ant-collapse-header {
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid white;
}


